<h1>The Market</h1>
<h4>Browse for available items</h4>

<table border = "1">
<tr>
  <th>User</th>

  <th>Ingredient</th>

  <th>Location</th>
  <% if session.fetch(:user_id) != nil  %>
  <th></th>
  <%else%>
  <%end%>
  

</tr>

<% @list_of_available.each do |a_ingredient| %>
<tr>
  <td><%= a_ingredient.user.first_name %></td>

  <td><%= a_ingredient.item.capitalize %></td>

  <td><%= a_ingredient.user.location %></td>
  
   <% username = session.fetch(:user_id)%>
  <% if a_ingredient.user.id != username && username != nil%>
  <td>
 

   <form action="/insert_message" method="post">
   
      <div>
        <input type="hidden" name="send_to_box" value="<%= a_ingredient.user_id%>">
      </div>

      <div>
        <input type="hidden" name="send_from_box" value="<%=session.fetch(:user_id)%>">
      </div>

      <div>
        <input type="hidden" name="item_box" value="<%= a_ingredient.item%>">
      </div>

    <button>Request!</button>
  </form>
 
  </td>
   <% else %>
  <%end%>
  
</tr>
<% end%>
</table>

<% if session.fetch(:user_id) != nil %>

<% the_id = session.fetch(:user_id)%>
<% matching_user = User.where(:id => the_id)%>

<% the_user = matching_user.at(0).first_name%>

<h1><%=the_user%>'s Fridge</h1>
  <h4>Have something at home that you don't need? List it here!</h4>

    <form action="/insert_ingredient_owned" method="post">
      <div>
        <label for="item_box">
          Ingredient
        </label>

        <input type="text" id="item_box" name="query_item">
      </div>


      <div>
      <input type="hidden" name = "user_name" value = "<%=session.fetch(:user_id)%>">
      

      <button>
        Add to your fridge!
      </button>
    </form>

<hr>

<table border = "1">
<tr>
  <% if @list_of_owned.at(0) != nil%>
  <th>Ingredient</th>

  <th>Posted at</th>

  <th></th>
  <th></th>
<%else%>
<%end%>
</tr>
<% %>
<% @list_of_owned.each do |owned_ingredient| %>
<tr>
  <td><%= owned_ingredient.item.capitalize %></td>
  <td><%= time_ago_in_words(owned_ingredient.created_at) %> ago</td>
  
  <td><a href="/delete_ingredient_owned/<%= owned_ingredient.id %>">
          Delete
        </a>
  </td>
  <td>
  <form action="/find_recipes">
        <input type="hidden" name="ingredient" id="ingredient_box" value="<%=owned_ingredient.item%>">
        <button>Find Recipes</button>
  </form>
  </td>

</tr>
<% end%>
</table>



<h1><%=the_user%>'s Wishlist</h1>
<h4>Looking to make a recipe but missing something? List it here!</h4>
<div>
  <div>

    <form action="/insert_ingredient_wanted" method="post">
      <div>
        <label for="item_box">
          Ingredient
        </label>

        <input type="text" id="item_box" name="query_item">
      </div>

      <div>
      <input type="hidden" name = "user_name" value = "<%=session.fetch(:user_id)%>">
      

      <button>
        Add to your wishlist!
      </button>
    </form>
</div>

<hr>
<table border = "1">
<tr>
  <% if @list_of_need.at(0) != nil%>
  <th>Ingredient</th>

  <th>Posted at</th>

  <th></th>
  
<%else%>
<%end%>
</tr>

<% @list_of_need.each do |needed_ingredient| %>
<tr>
  <td><%= needed_ingredient.item.capitalize %></td>
<td><%= time_ago_in_words(needed_ingredient.created_at) %> ago </td>
  <td>
    <div>

        <a href="/delete_ingredient_wanted/<%= needed_ingredient.id %>">
          Delete
        </a>
    </div>
  </td>
</tr>
<% end%>
</table>

<%else %>
<%end%>
